<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <style>
      body {
        color: orange;
  background: #000000 url(http://wallpapercave.com/wp/q9GyYPK.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
      h1, h2 {
  color: red;
  font-size: 4em;
  font-weight: normal;
  font-family: 'Bangers', cursive;
  text-align: center;
  margin: 20px 0 0 0;
}
     h4 {
  color: orange;
  font-size: 1.8em;
  font-weight: normal;
  font-family: 'Bangers', cursive;
  text-align: center;
  margin: 20px 0 0 0;
}
     .btn{
       background-color: lightgreen;
       color: blue;
       border: 3px solid #4CAF50;
     }
    caption {
  display: table-caption;
  text-align: top;
       text-size: 20px;
}
   </style>
    <title>superHero </title>
  </head>
  <body>
    <!-- Main Body of Page -->
 <div class="container">
        <div class="row m-4 ">
            <div class="col text-center border border-dark">
                <h1>SuperHero Sightings </h1>
            </div>
        </div>
      <div class="row m-4 border border-dark">
                <div class="col text-center m-3">
                    <a href="heroes" class="btn btn-outline-primary btn-lg">Heroes/villains</a>
                </div>
                <div class="col text-center m-3">
                    <a href="superpowers" class="btn btn-outline-primary btn-lg">Superpowers</a>
                </div>
                <div class="col text-center m-3">
                    <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
                </
        </div>
    </div>

 <div class="row m-4 border border-dark">
            <div class="col-3 text-center m-3">
                <span class="h3">Add Sighting</span>
            </div>
            <div class="col-7 text-center m-3">
                <form action="addSighting" method="POST">

                    <div class="form-group row">
                        <label for="sightingDate" class="col-3 col-form-label">
                            Date of Sighting</label>
                        <div class="col-9">
                            <input type="text" name="sightingDate" 
                                   id="sightingDate" class="form-control"/>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label for="sightingDescription" class="col-3 col-form-label">
                            Description of sighting</label>
                        <div class="col-9">
                            <input type="text" name="sightingDescription" 
                                   id="sightingDescription" class="form-control"/>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="locations" class="col-3 col-form-label">
                            Locations</label>
                        <div class="col-9">
                            <select id="location" name="locationId" class="form-control" >
                                <option th:each="location : ${locations}" 
                                        th:value="${location.LocationId}" 
                                        th:text="${location.LocationDescription + ' ' 
                                        + location.Street + ' ' + location.City + ' ' + location.State + ' ' 
                                        + location.City + ' ' + location.Zip + ' ' + location.Lattitude + ' '
                                        + location.Longitude }">
                                    Location example</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="heroes" class="col-3 col-form-label">
                            Heroes</label> 
                        <div class="col-9">
                            <select multiple id="heroes" name="heroId" 
                                    class="form-control" >
                                <option th:each="hero : ${heroes}" 
                                        th:value="${hero.HeroId}" 
                                        th:text="${hero.Name + ' ' 
                                        + hero.Description  
                                        }">
                                    Hero Name</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Sighting</button>

                </form>


            </div>
        </div>
       

    <footer>
            <div id="jumbotronFooter" class="jumbotron footer">
                <div class="footer-copyright text-center py-500"><img id="footerImg" src=https://cahoicatam.com/images/copyright-symbol-png-red-14.png width="70"><br>2020 Alan Samuel Michael</div>
            </div>
   </footer>
    <!-- End main body -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>