<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style>
            body {
                background: #00000 url(https://i.pinimg.com/originals/38/28/5c/38285c38679823366d532048e1aa5b1b.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            h1, h2 {
                color: orange;
                font-size: 4em;
                font-weight: normal;
                font-family: 'Bangers', cursive;
                text-align: center;
                margin: 20px 0 0 0;
            }
            h4 {
                color: orange;
                font-size: 1.8em;
                font-weight: normal;
                font-family: 'Bangers', cursive;
                text-align: center;
                margin: 20px 0 0 0;
            }
            .btn{
                background-color: lightgreen;
                color: blue;
                border: 3px solid #4CAF50;
            }
            caption {
                display: table-caption;
                text-align: top;
                text-size: 20px;
            } 
        </style>  
        <title>superHero </title>
    </head>
    <body>
        <!-- Main Body of Page -->
        <div class="container">
            <div class="row m-4 ">
                <div class="col text-center border border-dark">
                    <h1>SuperHero Sightings </h1>
                </div>
            </div>
            <div class="row m-4 border border-dark">
                <div class="col text-center m-3">
                    <a href="heroes" class="btn btn-outline-primary btn-lg">Heroes/villains</a>
                </div>
                <div class="col text-center m-3">
                    <a href="superpowers" class="btn btn-outline-primary btn-lg">Superpowers</a>
                </div>
                <div class="col text-center m-3">
                    <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
                </div>
            </div>
        </div>  
        <div class="row m-4 border border-dark">
            <div class="col-3 text-center m-3">
                <span class="h3">Add Hero/Villain</span>
            </div>
            <div class="col-7 text-center m-3">
                <form action="addHero" method="POST">
                    <div class="form-group row">
                        <label for="name" class="col-3 col-form-label">
                            Name</label>
                        <div class="col-9">
                            <input type="text" name="name" 
                                   id="name" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-3 col-form-label">
                            Description</label>
                        <div class="col-9">
                            <input type="text" name="description" 
                                   id="description" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="superPower" class="col-3 col-form-label">
                            Superpower</label>
                        <div class="col-9">
                            <input type="text" name="superPower" 
                                   id="superPower" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="memberType" class="col-3 col-form-label">
                            Member Type</label>
                        <div class="col-9">
                            <input type="text" name="memberType" 
                                   id="memberType" class="form-control"/>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Hero/Villain</button>
                </form>
            </div>
        </div>
        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Superpower</th>
                            <th>Member Type</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="hero : ${heroes}">
                            <td th:text="${hero.HeroId}">Hero ID</td>
                            <td th:text="${hero.Name}">Hero Name</td>
                            <td th:text="${hero.Description}">Hero Description</td>
                            <td th:text="${hero.superpower.power}">Hero Superpower</td>
                            <td th:text="${hero.membertype}">Hero Member Type</td>
                            <td><a href="#" th:href="@{/editHero(id=${hero.HeroId})}">Edit</a></td>
                            <td><a href="#" th:href="@{/deleteHero(id=${hero.HeroId})}">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
    <footer>
        <div id="jumbotronFooter" class="jumbotron footer">
            <div class="footer-copyright text-center py-500"><img id="footerImg" src=https://cahoicatam.com/images/copyright-symbol-png-red-14.png width="70"><br>2020 Alan Samuel Michael</div>
        </div>
    </footer>
    <!-- End main body -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>;